<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск студентов</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <form method="GET" action="">
            <input type="search" class="form-control" placeholder="Поиск" name="q" value="{{ request.args.get('q', '') }}">
            <button type="submit" class="btn btn-primary">Поиск</button>
        </form>
        <table class="table table-striped table-hover">
            <thead>
                <tr class="fw-bold">
                    <td>№</td>
                    <td>ФИО</td>
                    <td>Группа</td>
                    <td>Студ. билет</td>
                </tr>
            </thead>
            <tbody>
                {% for stud in studs %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ stud.fio }}</td>
                        <td>{{ stud.grupa }}</td>
                        <td>{{ stud.studbilet }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<script src="../scripts/bootstrap.min.js"></script>
</html>